:root {
  --color-1: #ff7f00;
  --color-2: #ef4136;
  --color-3: #666666;
  --color-4: #b2b1ad;
  --color-5: #cfcfcf;
  --color-white: #ffffff;
  --body-background: #f3f3f3;
  --bg-color-1: #ffffff;
  --border-color-1: #f3f3f3;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --box-shadow: 0 7px 6px -3px #e0e0e0;
  --border-radius-1: 0.1rem;
  --border-radius-2: 0.2rem;
  --border-radius-3: 0.3rem;
  --border-radius-4: 0.4rem;
  --border-radius-5: 0.5rem;
  --border-radius: 1rem;
  --sm: 576px;
  --768: 768px;
  --lg: 992px;
  --xl: 1200px;
  --flex-item-size: 0 0 100%;
  --flex-item-size-max: 100%;
}

@media (min-width: 768px) {
  :root {
    --flex-item-size: 0 0 32.33%;
    --flex-item-size-max: 32.33%;
  }
}

@media (min-width: 1200px) {
  :root {
    --flex-item-size: 0 0 24%;
    --flex-item-size-max: 24%;
  }
}
