.addCardForm {
  padding: 0.5rem;
  &__footer {
    display: flex;
    gap: 0.5rem;
  }
  &__action {
    flex: 1 0 50%;
  }
}
.inputGroup {
  display: block;
  margin-bottom: 0.5rem;
}
.inputLabel {
  display: block;
  text-align: left;
}
.inputItem {
  display: block;
  width: 100%;
}
.addCardButton {
  display: block;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  width: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--color-3);
  padding: 0.5rem 0;
  border-radius: var(--border-radius-2);
  font-weight: 500;
  color: white;
  cursor: pointer;
  &__submit {
    background-color: var(--color-1);
  }
  &__cancel {
    background-color: var(--color-2);
  }
}
