.cartItem {
  border: 1px solid #f7f7f7;
  border-radius: 1rem;
  background: #ededed;
  margin-bottom: 1rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color-1);
  }
  &__title {
    display: inline-block;
  }
  &__description {
    display: block;
  }
  &__label {
    margin-right: 0.5rem;
  }
  &__body {
    text-align: left;
    padding: 0.5rem;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
}

.selectColumn {
  max-height: 80vh;
  overflow: auto;
  &__item {
    cursor: pointer;
    background-color: var(--color-5);
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: var(--color-4);
    }
  }
}
