.columnItem {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  flex: var(--flex-item-size);
  max-width: var(--flex-item-size-max);
  background-color: var(--bg-color-1);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px dashed var(--border-color-1);
  }
  &__title {
    font-size: 1rem;
    max-width: 70%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__body {
    padding: 0.5rem;
    min-height: 10rem;
    justify-self: stretch;
  }
  &__footer {
    padding: 0.5rem;
    margin-top: auto;
  }
}
