.columnsContainer {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  gap: 1%;
}

.addColumnButton {
  box-shadow: var(--box-shadow);
  flex: var(--flex-item-size);
  max-width: var(--flex-item-size-max);
  background-color: #5ac4e7;
  padding: 0.5rem 0;
  border-radius: var(--border-radius);
  align-self: flex-start;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
