.giButton {
  background-color: var(--color-1);
  border: none;
  color: var(--color-white);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  &_isSecondary {
    background-color: var(--color-2);
  }
  &_isGradient {
    background: var(--color-1);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(var(--color-1)),
      to(var(--color-2))
    );
    background: linear-gradient(to right, var(--color-1), var(--color-2));
  }
  &_isFullwidth {
    width: 100%;
    display: block;
  }
}
